@using Odontio.Application.Common.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var model = (MedicalRecordViewModel)ViewData.Model;
}
<!DOCTYPE html>
<html>
<body>
<span>Ficha Médica #@(model.Id.ToString().PadLeft(4, '0'))</span>
<table>
    <thead>
    <tr class="table-header">
        <th colspan="4" style="background-color: lightgrey">Información Personal</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <b>Nombres:</b>
        </td>
        <td>@(model.FirstName)</td>
        <td>
            <b>Apellidos:</b>
        </td>
        <td>@(model.LastName)</td>
    </tr>
    <tr>
        <td>
            <b>Género:</b>
        </td>
        <td>@(model.Gender)</td>
        <td>
            <b>Nro. Documento:</b>
        </td>
        <td>@(model.DocumentNumber)</td>
    </tr>
    <tr>
        <td>
            <b>Fecha Nac.:</b>
        </td>
        <td>@(model.Birthdate)</td>
        <td>
            <b>Estado Civil:</b>
        </td>
        <td>@(model.MaritalStatus)</td>
    </tr>
    @* TODO: Ver si es relevante mostrar estos datos *@
    @* @if (!string.IsNullOrEmpty(model.Address)) *@
    @* { *@
    @*     <tr> *@
    @*         <td> *@
    @*             <b>Dirección Particular:</b> *@
    @*         </td> *@
    @*         <td>@(model.Address)</td> *@
    @*     </tr> *@
    @* } *@
    @* *@
    @* @if (!string.IsNullOrEmpty(model.Phone) || !string.IsNullOrEmpty(model.Email)) *@
    @* { *@
    @*     <tr> *@
    @*         <td> *@
    @*             <b>Teléfono Particular:</b> *@
    @*         </td> *@
    @*         <td>@(model.Phone)</td> *@
    @*         <td> *@
    @*             <b>Correo Electrónico:</b> *@
    @*         </td> *@
    @*         <td>@(model.Email)</td> *@
    @*     </tr> *@
    @* } *@
    @* *@
    @* @if (!string.IsNullOrEmpty(model.Occupation) || !string.IsNullOrEmpty(model.WorkPhone)) *@
    @* { *@
    @*     <tr> *@
    @*         <td> *@
    @*             <b>Ocupación:</b> *@
    @*         </td> *@
    @*         <td>@(model.Occupation)</td> *@
    @*         <td> *@
    @*             <b>Teléfono laboral:</b> *@
    @*         </td> *@
    @*         <td>@(model.WorkPhone)</td> *@
    @*     </tr> *@
    @* } *@
    @* *@
    @* @if (!string.IsNullOrEmpty(model.WorkAddress)) *@
    @* { *@
    @*     <tr> *@
    @*         <td> *@
    @*             <b>Dirección laboral:</b> *@
    @*         </td> *@
    @*         <td>@(model.WorkAddress)</td> *@
    @*     </tr> *@
    @* } *@
    @* *@
    @* @if (!string.IsNullOrEmpty(model.ReferrerName)) *@
    @* { *@
    @*     <tr> *@
    @*         <td> *@
    @*             <b>Referente:</b> *@
    @*         </td> *@
    @*         <td>@(model.ReferrerName)</td> *@
    @*     </tr> *@
    @* } *@
    </tbody>
</table>
<table>
    <thead>
    <tr class="table-header">
        <th colspan="4" style="background-color: lightgrey">Antecedentes Odontológicos</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Última visita al dentista:</td>
        <td>@(string.IsNullOrEmpty(model.LastDentalVisit) ? "No registra" : model.LastDentalVisit)</td>
    </tr>
    <tr>
        <td>Causa de pérdida de dientes: </td>
        <td>@(string.IsNullOrEmpty(model.ToothLossCause) ? "No registra" : model.ToothLossCause)</td>
    </tr>
    <tr>
        <td>Frecuencia de cepillado:</td>
        <td>@(string.IsNullOrEmpty(model.BrushingFrequency) ? "No registra" : model.BrushingFrequency)</td>
    </tr>
    <tr>
        <td>Observaciones:</td>
        <td>@(string.IsNullOrEmpty(model.Observations) ? "No registra" : model.Observations)</td>
    </tr>
    </tbody>
</table>
<table>
    <thead>
    <tr class="table-header">
        <th colspan="4" style="background-color: lightgrey">Historia Médica</th>
    </tr>
    </thead>
    <tbody>
    <table>
        <tr>
            <td colspan="4">
                <b>Fue afectado o es portador de alguna de las siguientes efermedades?</b>
            </td>
        </tr>
        @for (int i = 0; i < model.Diseases.Count; i += 3)
        {
            <tr>
                @for (int j = 0; j < 3; j++)
                {
                    if (i + j < model.Diseases.Count)
                    {
                        <td>@(model.Diseases[i + j].Name)</td>
                        <td>@(model.Diseases[i + j].HasCondition ? "(x)" : "( )")</td>
                    }
                }
            </tr>
        }
    </table>
    <br/>
    <table style="border-top: solid 1px black;">
        <tr>
            <td colspan="3">
                <b>Posee alguna de las siguientes condiciones?</b>
            </td>
        </tr>
        @foreach (var t in model.MedicalConditions)
        {
            <tr>
                <td>@t.ConditionType</td>
                <td>@(t.HasCondition == true ? "(x)" : "( )")</td>
                <td>@t.Description</td>
            </tr>
        }
    </table>
    </tbody>
</table>

<div style="margin: auto; border-top: solid 1px black;" class="keep-together">
    <h3 style="text-align: center">AUTORIZACION PARA TRATAMIENTOS Y COMPROMISO DE PAGO</h3>
    <p style="text-align: justify">Por este instrumento de autorización por mi firmado, doy pleno consentimiento, al profesional odontólogo y a sus asistentes, hacer diagnósticos, plan de tratamiento, y tratamientos odontológicos acorde a los conocimientos encuadrados dentro de la especialidad.</p>
    <p style="text-align: justify">Concuerdo con el presupesto detallado y me comprometo a pagar en su totalidad por cada tratamiento concluido, de no ser así el profesional tiene la autoridad de detener el procedimiento operatorio donde crea necesario y reusarse a la atención futura hasta que yo me ponga al día con mi compromiso de pago.</p>
    <h3 style="text-align: center;">DECLARO QUE TODAS LAS INFORMACIONES SON VERDADERAS</h3>
    <table>
        <tbody>
        <tr>
            <td>
                <div style="text-align: left; margin: auto;width: 40%">
                    <b>..................................................................</b> <br>
                    <b>Firma del Paciente o Responsable</b> <br/><br/>
                    <b>Aclaración: ............................................</b> <br/><br/>
                    <b>C.I. Nro. ...................................................</b>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>